body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Red Hat Display";
  background-color: #fafafa;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.125rem;
}

button {
  height: 58px;
  border-radius: 30px;
}

.logo {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.people img {
  width: 105%;
}

.people .left {
  position: relative;
  left: -5%;
}

.people .right {
  position: relative;
  left: 3%;
}

@media screen and (min-width: 800px) {
  .people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .people .left {
    position: relative;
    left: -2%;
  }
  .people .right {
    position: relative;
    left: 1%;
  }
}

.topContent {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topContent p {
  text-align: center;
}

.topContent .btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topContent .first {
  font-weight: bold;
  width: 193px;
  background-color: #4d96a9;
  border-color: #4d96a9;
  border: 5px;
  color: #fff;
}

.topContent .first:hover {
  cursor: pointer;
  background-color: #71c0d4;
}

.topContent .first span {
  color: #8fe3f9;
}

.topContent .second {
  margin-top: 15px;
  font-weight: bold;
  width: 139px;
  background-color: #855fb1;
  border-color: #855fb1;
  border: 5px;
  color: #fff;
}

.topContent .second:hover {
  cursor: pointer;
  background-color: #b18bdd;
}

@media screen and (min-width: 401px) {
  .topContent {
    margin: 0 auto;
    width: 28.5625rem;
    height: 350px;
  }
  .topContent .btnBox {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 800px) {
  .topContent {
    width: 510px;
    position: absolute;
    top: 110px;
    left: 450px;
  }
  .topContent h1 {
    width: 300px;
  }
  .topContent .btnBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topContent .first,
  .topContent .second {
    margin: 5px;
  }
}

.numBox1 {
  margin-top: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numBox1 hr {
  position: relative;
  top: 8px;
  height: 5.25rem;
  background: #87879d;
}

.numBox1 span {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 56px;
  border: 1px solid #87879d;
  border-radius: 50%;
  background-color: #fafafa;
}

.imageContainer {
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20.4375rem;
  height: 310px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.imageContainer img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 401px) {
  .imageContainer {
    width: 43.0625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 800px) {
  .imageContainer {
    margin-top: 50px;
    height: 242px;
    width: 1110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.midContent {
  text-align: center;
  margin: 0 auto;
  width: 337px;
  height: 284px;
}

.midContent span {
  text-transform: uppercase;
  font-weight: bold;
  color: #4d96a9;
  letter-spacing: 2px;
}

@media screen and (min-width: 401px) {
  .midContent {
    width: 35.8125rem;
    height: 240px;
  }
  .midContent h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 800px) {
  .midContent {
    margin-top: 50px;
    width: 540px;
    height: 300px;
  }
  .midContent h2 {
    font-size: 2.875rem;
    width: 90%;
  }
  .midContent p {
    width: 92%;
  }
}

.numBox2 {
  z-index: 1;
  position: relative;
  top: 25px;
  margin-top: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numBox2 hr {
  position: relative;
  top: 8px;
  height: 5.25rem;
  background: #87879d;
}

.numBox2 span {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 56px;
  border: 1px solid #87879d;
  border-radius: 50%;
  background-color: #fafafa;
}

.footer {
  z-index: -1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 428px;
  width: 100%;
  background-image: url("/assets/mobile/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fafafa;
}

.footer div {
  height: 428px;
  background-color: #4d96a9;
  opacity: 0.9;
  width: 100%;
}

.footer div .bottomInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 428px;
}

.footer .first {
  font-weight: bold;
  width: 193px;
  background-color: #855fb1;
  border-color: #855fb1;
  border: 5px;
  color: #fff;
}

.footer .first:hover {
  cursor: pointer;
  background-color: #b18bdd;
}

.footer .first span {
  color: #d9b8ff;
}

@media screen and (min-width: 401px) {
  .footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer h2 {
    width: 450px;
  }
  .footer .bottomInfo {
    width: 573px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 800px) {
  .footer {
    background-image: url("/assets/desktop/image-footer.jpg");
    background-size: cover;
    height: 308px;
  }
  .footer div {
    height: 308px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer div .bottomInfo {
    height: 88px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1110px;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */