// button properties
@mixin btn($bgColor, $bdColor, $width) {
  font-weight: bold;
  width: $width;
  background-color: $bgColor;
  border-color: $bdColor;
  border: 5px;
  color: #fff;
}
//button colors
$primaryColor: #4d96a9;
$secondaryColor: #855fb1;
//number position
@mixin numBox {
  margin-top: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  width: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  hr {
    position: relative;
    top: 8px;
    height: 5.25rem;
    background: #87879d;
  }
  span {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 56px;
    border: 1px solid #87879d;
    border-radius: 50%;
    background-color: #fafafa;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  // width: 375px;
  font-family: "Red Hat Display";
  background-color: #fafafa;
  overflow-x: hidden;
}
h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1.125rem;
}
button {
  height: 58px;
  border-radius: 30px;
}
.logo {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
// hero section
.people {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  img {
    width: 105%;
  }
  //Images at the left
  .left {
    position: relative;
    left: -5%;
  }
  //Images at the right
  .right {
    position: relative;
    left: 3%;
  }

  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: space-between;

    .left {
      position: relative;
      left: -2%;
    }
    .right {
      position: relative;
      left: 1%;
    }
  }
}
.topContent {
  p {
    text-align: center;
  }
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //Button container
  .btnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  //First Button
  .first {
    @include btn($primaryColor, $primaryColor, 193px);
    &:hover {
      cursor: pointer;
      background-color: #71c0d4;
    }

    span {
      color: #8fe3f9;
    }
  }
  //Second Button
  .second {
    margin-top: 15px;
    @include btn($secondaryColor, $secondaryColor, 139px);
    &:hover {
      cursor: pointer;
      background-color: #b18bdd;
    }
  }
  @media screen and (min-width:401px) {
    margin: 0 auto;
    width: 28.5625rem;
    height: 350px;

    .btnBox{
      width: 360px;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-evenly;
    }
  }

  @media screen and (min-width: 800px) {
    width: 510px;
    position: absolute;
    top: 110px;
    left: 450px;

    h1 {
      width: 300px;
    }
    .btnBox {
      display: flex;
      flex-direction: row;
    }
    .first,
    .second {
      margin: 5px;
    }
  }
}

.numBox1 {
  @include numBox();
}

.imageContainer {
  margin: 50px auto;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 20.4375rem;
  height: 310px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  img {
    width: 100%;
    border-radius: 10px;
  }
  @media screen and (min-width: 401px) {
    width: 43.0625rem;
    display: flex;
    justify-content: space-around;
  }
  @media screen and (min-width: 800px ){
    margin-top: 50px;
    height: 242px;
    width: 69.375rem;
    display: flex;
    justify-content: space-around;
  }
}

.midContent {
  text-align: center;
  margin: 0 auto;
  width: 337px;
  height: 284px;

  span {
    text-transform: uppercase;
    font-weight: bold;
    color: $primaryColor;
    letter-spacing: 2px;
  }
  @media screen and (min-width: 401px) {
    width: 35.8125rem;
    height: 240px;

    h2{
      font-size: 50px;
    }

  }

  @media screen and (min-width: 800px) {
    margin-top: 50px;
    width: 33.75rem;
    height: 300px;
    h2 {
      font-size: 2.875rem;
      width: 90%;
    }
    p {
      width: 92%;
    }
  }
}
//second number box
.numBox2 {
  z-index: 1;
  position: relative;
  top: 25px;

  @include numBox();
}
// footer section
.footer {
  z-index: -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 428px;
  width: 100%;
  background-image: url("/assets/mobile/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  color: #fafafa;

  div {
    height: 428px;
    background-color: $primaryColor;
    opacity: 0.9;
    width: 100%;

    .bottomInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 428px;
       
    }
  }

  .first {
    @include btn($secondaryColor, $secondaryColor, 193px);
    &:hover {
      cursor: pointer;
      background-color: #b18bdd;
    }

    span {
      color: #d9b8ff;
    }
  }
  @media  screen and (min-width: 401px) {
    div{
      display: flex;
      justify-content: center;
    }
    h2{
      width: 450px;
    }

    .bottomInfo{
      width: 573px;
      display:flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and(min-width: 800px) {
    background-image: url("/assets/desktop/image-footer.jpg");
    background-size: cover;
    height: 308px;

    div {
      height: 308px;
      display: flex;
      align-items: center;
      justify-content: center;

      .bottomInfo {
        height: 88px;
        text-align: left;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 1110px;
        opacity: 1;
      }
    }
  }
}
